<form action="{{path('rechercheUserTraitement')}}" method="POST" class="form-search">
								<span  class="input-icon">
                                                                        {{form_widget(form.recherche, {'attr': {'class': 'nav-search-input','placeholder':'rechercher user'}})}}

									
                                                                        {{form(form)}}
								</span>
                                                                
							</form>