{% for cat in categorie  %}
    
    
    

    <li>
        <a href="{{path('catEv',{'cat' : cat.idCategorieEvenement})}}"><i class="fa fa-tags"></i>  {{cat.categorie}}</a>
    
    </li>
    
    
    
    
    
    
    
    
{% endfor   %}
