{% extends '::enligne.html.twig' %}



    {% block navbar %}
                        {% include '::sidebar.html.twig' %}

        {% endblock %}

{% block body -%}
    <h1>Evenement creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('evenement') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
