  <form    action="{{ path('probleme_recherche_comp') }}" method="POST"  >

 <div class="row">
     
{% for com in competence  %}
                        <div class="col-sm-4 md-margin-bottom-10">
                           <label class="checkbox-inline"><input type="checkbox" name="competence[]" value="{{com.competence}}">{{com.competence}}</label>

   </div>
{% endfor   %} 
                   
                    <div class="col-sm-4">
                        <button type="submit" class="btn-u btn-block btn-u-dark"> Search Job</button>
                    </div>

  
            </div>
       </form>