{% for cat in categories  %}
    
    
    

    <li>
        <a href="{{path('catproj',{'cat' : cat.idCategorieProjet})}}"><i class="fa fa-tags"></i>  {{cat.categorie}}</a>
    
    </li>
    
    
    
    
    
    
    
    
{% endfor   %}
