            <form    action="{{ path('projet_recherche') }}" method="POST"  >
       

<div class="input-group">
          {{ form_widget(form.recherche ,{'attr': {'class': 'form-control'}}   )    }}
                                       <span class="input-group-btn">
                                 
                                <button class="btn-u" type="submit" >recherche</button>
                            </span>
                                       {{ form_widget(form) }}
                        </div>
                    </form>



                